# We have to configure the language in the matrix below.
language: generic

matrix:
  include:
    - os: linux
      language: groovy
      jdk: oraclejdk7
      env: USING_OS=linux
    - os: linux
      language: groovy
      jdk: openjdk7
      env: USING_OS=linux
    # 'objective-c' forces a build on OS X.  The UI will still
    # show a Linux logo, but the logs will show a Mac box.
    # Because we override the install and script commands
    # below, this works fine, even though we are actually
    # using groovy.  The 'os: osx' doesn't do anything, but is
    # here for clarity.  The USING_OS environment variable
    # is for the UI only - it has no effect.
    # TODO: Replace with simply `os: osx` when Travis supports groovy
    # in their multi-OS beta.
    # TODO: Figure out how to set the JDK version on OS X.
    - os: osx
      language: objective-c
      env: USING_OS=osx

branches:
  only:
    - master
    - /^release.*$/
    - /^v[0-9].*$/

# TODO: Multi-os in beta, requires approval from Travis.
#os:
#  - linux
#  - osx

# We can be run in a container for improved performance.
sudo: false

# If these steps fail, the build is 'errored' - i.e. misconfigured.
# This can fail if we cannot download Gradle 2.4 or the libraries
# we depend on.
install:
  # OS X is missing the dumb term command.
  - export TERM=dumb
  - env
  # We need JDK 7 specifically on OS X.
  - if [ "$USING_OS" = "osx" ]; then (/usr/libexec/java_home -V); fi
  - java -Xmx32m -version && javac -J-Xmx32m -version
  - ./gradlew wrapper
  - ./gradlew dependencies

# If these steps fail, the build is 'failed' - i.e. we have a code defect.
# We compile (assemble) and then build (which also tests) to capture build
# and test failures separately.
script:
  - ./gradlew assemble
  - ./gradlew build
